/* Universal Styles */

html {
  font-family: "Ubuntu", "Helvetica", sans-serif;
  font-size: 16px;
  background-color: white;
}

body {
  line-height: 1;
  padding: 0px;
  margin: 0px;
}

.left-section {
  width: 60%;
  padding: 2rem 1.5rem;
}

.right-section {
  width: 40%;
  margin-right: 0.5rem;
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 1rem 0rem 1rem 0rem;
  width: 100%;
}

nav {
  text-align: right;
  flex-grow: 1;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #4a4b4c;
}

h2 {
  font-size: 1.9rem;
  font-weight: 700;
  color: #383838;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  color: #4d4e4f;
}

h4 {
  font-size: 1.2rem;
  color: #383838;
  font-weight: 500;
  line-height: 1.4rem;
}

h6 {
  font-size: 1.1rem;
  color: #383838;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #808080;
  line-height: 1.1rem;
  text-align: left;
}

span {
  font-size: 0.8rem;
  color: #383838;
  line-height: 0.95rem;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

.video-container {
  overflow: hidden;
}

.video-container video {
  display: block;
  max-width: 100%;
}

footer {
  font-size: 0.8rem;
  font-weight: 300;
  color: #5c5d5e;
}

/* Header */

header {
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  height: 2rem;
  padding-left: 1.5rem;
}

.colmar {
  font-size: 1.2rem;
  font-weight: 500;
}

.academy {
  font-size: 1.2rem;
  font-weight: 500;
  color: #808080;
}

nav {
  flex: 1;
  text-align: right;
  padding-right: 1.5rem;
}

.desktop a {
  display: inline-block;
  padding-right: 1rem;
  color: #383838;
  font-size: 1.2rem;
  cursor: auto;
  text-decoration: none;
}

nav.mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .desktop a {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 720px) {
  header .logo {
    display: none;
  }

  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .mobile img {
    width: auto;
    height: 90%;
  }
}

/* Main Banner */

.main-banner {
  background-color: #DCDCDC;
  margin: 0 auto;
}

.main-banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section img {
  width: 100%;
}

.tagline {
  height: auto;
  padding-left: 1.2rem;
  margin-right: 4rem;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tagline h1 {
  font-size: 2.2rem;
  color: #383838;
  font-weight: 700;
}

.tagline h4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tagline a {
  background-color: #441350;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.1rem;
}

.tagline a:hover {
  background-color: #808080;
}

@media only screen and (max-width: 1024px) {
  .main-banner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  .main-banner .left-section {
    width: 100%;
    padding: 0rem;
  }

  .main-banner .right-section {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .tagline {
    padding: 0px;
    margin: 0px;
  }

  .tagline h1 {
    margin-top: 2rem;
  }

  .tagline h4 {
    margin-bottom: 1.5rem;
  }
}

/* Practice Section */

.practice {
  display: flex;
  justify-content: space-between;
}

.practice .left-section img {
  width: 100%;
}

.practice .left-section h2 {
  padding-top: 2rem;
}

.practice .left-section p {
  padding: 1.5rem 1.5rem 1.5rem 0rem;
}

.practice .right-section {
  border-left: 1px solid #DCDCDC;
  padding: 1rem 0rem 2rem 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.second-info {
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box img.desktop {
  width: 35%;
  padding: 1rem;
}

.box img.mobile {
  display: none;
}

.lecture {
  background-color: #DCDCDC;
}

.content {
  padding: 1rem 0rem 1rem 0rem;
  width: 100%;
}

.practice .content p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.5rem;
}

.practice .content a {
  color: #4ba3f4;
  text-decoration: none;
  font-size: 0.8rem;
  display: block;
  padding-top: 0.9rem;
}

@media only screen and (max-width: 560px) {
  .practice.container {
    width: 100%;
  }

  .practice .left-section {
    display: none;
  }

  .practice .right-section {
    width: 100%;
    border: none;
    padding: 1rem;
    padding-bottom: 2rem;
  }

  .practice .right-section, .box {
    flex-direction: column;
    width: 100%;
  }

  .box .content p {
    display: inline;
  }

  .box img.desktop {
    display: none;
  }

  .box img.mobile {
    display: block;
    width: 100%;
  }

  .box .content {
    background-color: #ffffff;
  }

  .practice .content {
    padding-left: 1rem;
  }
}

/* Learning Section */

.learning {
  background-color: #F5F5F5;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.headline {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.courses-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.course {
  background-color: #ffffff;
  width: 32%;
  height: 20rem;
  margin-bottom: 1.5rem;
}

.course img {
  width: 100%;
}

.course-content {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course h6 {
  padding-bottom: 1rem;
}

.course-content span {
  font-size: 0.8rem;
  color: #808080;
}

.course p {
  padding-top: 0.5rem;
}

.courses-list {
  display: none;
}

.learning span {
  font-size: 1rem;
  font-weight: 300;
}

@media only screen and (max-width: 560px) {

  .learning {
    background-color: #ffffff;
    border: 1px solid #DCDCDC;
  }

  .headline {
    padding-bottom: 1rem;
}

  .courses-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .course-img {
    display: none;
  }

  .course-content span, p {
    display: none;
  }

  .course {
    height: auto;
    width: 23rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .learning h6 {
    padding: 0;
    font-size: 1.4rem;
  }

  .course:hover {
    background-color: lightgrey;
  }
}

/* Thesis Section */

.thesis .headline {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 0rem;
}

.left-section video {
  width: 100%;
  overflow: hidden;
}

.thesis .right-section {
  padding-top: 2rem;
}

.thesis h6 {
  padding-top: 1.5rem;
}

.thesis .left-section p {
  padding-top: 0.5rem;
  padding-bottom: 0rem;
  text-align: justify;
}

.left-section p {
  padding: 1.5rem 1.5rem 1.5rem 0rem;
}

.thesis > .first-info {
  margin-top: 2rem;
}

.lecture {
  background-color: #DCDCDC;
}

.thesis .box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thesis .box img {
  width: 35%;
  padding: 1rem;
}

.thesis .right-section h6 {
  padding-top: 1.5rem;
}

.thesis .right-section p {
  padding-top: 0.5rem;
  padding-bottom: 0px;
}

@media only screen and (max-width: 560px) {

  .thesis .left-section {
    width: 100%;
    margin: 1rem 0rem 1.5rem 0rem;
    padding: 0rem;
  }

  .thesis h6, p, .right-section {
    display: none;
  }
}

/* Footer */

footer {
  border-top: 0.1rem solid #DCDCDC;
  background-color: #441350;
  height: 3.5rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

footer p {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #ffffff;
  font-size: 0.75rem;
}

footer nav a {
  display: inline-block;
  padding-right: 0.5rem;
  color: #ffffff;
  font-size: 0.75rem;
  cursor: auto;
  text-decoration: none;
  font-weight: normal;
}

@media only screen and (max-width: 560px) {

  footer .footer-nav {
    display: none;
  }

  footer p {
    display: inline-block;
  }
}


